<div class="jumbotron">
    <h1>ASP.NET WEB API for WpfLesson project</h1>
</div>
<div class="jumbotron">
    <div class="row">
        <p>TODO:</p>
        <p>Добавить документацию по использованию API.</p>
        <p>Создать кэширующий класс.</p>
    </div>
</div>
